%% -*- tab-width: 4;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%% ex: ts=4 sw=4 et
{sys, [
       {lib_dirs, ["../deps", "../apps"]},
       {rel, "rc_skel", "0.1",
        [
         kernel,
         stdlib,
         sasl,
         os_mon,
         crypto,
         runtime_tools,
         erlang_js,
         mochiweb,
         webmachine,
         riak_core,
         rc_skel
        ]},
       {rel, "start_clean", "",
        [
         kernel,
         stdlib
        ]},
       {boot_rel, "rc_skel"},
       {profile, embedded},
       {excl_sys_filters, ["^bin/.*",
                           "^erts.*/bin/(dialyzer|typer)"]},
       {excl_archive_filters, [".*"]},
       {app, rc_skel, [{incl_cond, include}]},
       {app, erlang_js, [{incl_cond, include}]},
       {app, riak_core, [{incl_cond, include}]},
       {app, os_mon, [{incl_cond, include}]},
       {app, sasl, [{incl_cond, include}]}
      ]}.


{target_dir, "rc_skel"}.

{overlay_vars, "vars.config"}.

{overlay, [
           {mkdir, "data/ring"},
           {mkdir, "log/sasl"},
           {copy, "files/erl", "{{erts_vsn}}/bin/erl"},
           {copy, "files/nodetool", "{{erts_vsn}}/bin/nodetool"},
           {template, "files/app.config", "etc/app.config"},
           {template, "files/vm.args", "etc/vm.args"},
           {template, "files/rc_skel", "bin/rc_skel"},
           {template, "files/riak-admin", "bin/riak-admin"}
          ]}.


